<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="lt.sonaro.spenplugin"
      version="0.1.0">
    <name>SPenPlugin</name>
    <description>PhoneGap SPenPlugin Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,spenplugin</keywords>


    <js-module src="www/js/SPenPlugin.js" name="SPenPlugin">
        <clobbers target="window.spenplugin" />
    </js-module>    

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SPenPlugin">
                <param name="android-package" value="lt.sonaro.spenplugin.SPenPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/SPenPlugin.java" target-dir="src/lt/sonaro/spenplugin" />      
     </platform>          
</plugin>